<%= partial 'tile-reference/property-blueprint', locals: {
    description: 'Holds single string value selected from allowed disk_types',
    credential: false,
    auto_generatable: false,
    operator_configurable: true,
    allows_default_to_be_specified: false,
    value_accessor_description: <<~DESCRIPTION,
      Returns a string containing the size of the selected disk in megabytes, e.g. "1024".  If nothing or "Automatic" was specified by the operator,
      then then this returns the smallest disk that is greater than the <code>default</code> value specified in <code>resource_definitions</code>.
      If no default was specified, then this returns the smallest disk in the catalog.
      DESCRIPTION
    value_present_accessor_description: 'Returns true only if a disk type is selected.  If the user has selected "Automatic", <code>value_present?</code> will be false.',
    additional_property_blueprint_attributes: [
      {
        name: 'resource_definitions',
        description: <<~DESCRIPTION,
          Optional. An array of objects with the same schema as <code>resource_definitions</code> for <code>job_types</code>.
          For <code>disk_type_dropdown</code>, <code>resource_definitions</code> should only have one element with <code>name</code> "persistent_disk".
          This element can also specify a <code>default</code> which OpsManager uses as a minimum bound when it selects a default value.
          It can also specify <code>constraints</code>, which can be any set of constraints that can be specified for an <a href='#integer'>integer property</a>.
          See example below.
        DESCRIPTION
      }
    ],
    additional_accessors: [],
    examples: [
      {
        name: 'Example',
        image: {
          name: 'Example Product with Disk Types Dropdown',
          path: 'img/example-disk-type-dropdown-tile.png'
        },
        metadata: <<~METADATA,
          property_blueprints:
            - name: example_disk_type_dropdown
              type: disk_type_dropdown
              configurable: true
              resource_definitions:
                - name: persistent_disk
                  default: 4096
                  constraints:
                    min: 2048

          form_types:
            - name: example_form
              label: 'Example form'
              description: 'An example form'
              property_inputs:
                - reference: .properties.example_disk_type_dropdown
                  label: 'Example disk_type_dropdown'
                  description: 'This is an example'

          job_types:
          - name: example-job
            resource_label: An Example Job
            <<: *job_type_boilerplate
            templates:
              - name: login_banner
                release: os-conf
                manifest: |
                  login_banner:
                    text: "Hello user, I see that your favorite disk size greater than 2 Gb is: (( .properties.example_disk_type_dropdown.value ))."
        METADATA
      }
    ]
} %>
