This holds an array of strings selected string values.

<table class="nice">
  <tr>
    <td>credential</td>
    <td>no</td>
  </tr>
  <tr>
    <td>supports auto-generation</td>
    <td>no</td>
  </tr>
  <tr>
    <td>supports operator configuration</td>
    <td>yes</td>
  </tr>
</table>

#### Property Blueprint Attributes

<table class="nice">
  <tr>
    <td> default </td>
    <td>
      Optional. Specifies a default value. When provided, must be set to a value which is valid for this type.
      Cannot be used when the property also has <code>optional: true</code>.
      <br><br>
      The default value should be one of the options’ names.
      For example, in the example shown below, “tomato” could be used as the default.
    </td>
  </tr>
  <tr>
    <td> options </td>
    <td>
      An array of hashes, each item specifying a:
      <code>name</code>, which becomes the value of the property if this option is selected, and
      <code>label</code> shows up as the text in the dropdown for this option.
    </td>
  </tr>
</table>

#### Accessors

<table class="nice">
  <tr>
    <td>value</td>
    <td>Returns the <code>name</code> of the selected option.</td>
  </tr>
  <tr>
    <td>value_present?</td>
    <td>Returns true if an option in selected, and that option’s name is a non-empty string.</td>
  </tr>
</table>

#### Example

```yaml
property_blueprints:
- name: example_dropdown_select
  type: dropdown_select
  default: kiwi
  configurable: true
  options:
  - name: kiwi
    label: 'Kiwi'
  - name: lime
    label: 'Lime'
  - name: tomato
    label: 'Tomato'

form_types:
- name: example_dropdown
  label: 'Example form'
  description: 'An example form'
  property_inputs:
  - reference: .properties.example_dropdown_select
    label: Favorite fruit
    description: 'What is your favorite fruit?'

job_types:
- name: example-job
  resource_label: An Example Job
  <<: *job_type_boilerplate
  templates:
  - name: login_banner
    release: os-conf
    manifest: |
      login_banner:
        text: Hello, user. I see your favorite fruit is (( .properties.example_dropdown_select.value )).
```

![alt-text="Example Product with Multi-Select Options"](./img/../../../img/example-dropdown-select-tile.png)

<br><hr>
