This holds RSA public and private keys. This is a non-configurable property.

<table class="nice">
  <tr>
    <td>credential</td>
    <td>yes</td>
  </tr>
  <tr>
    <td>supports auto-generation</td>
    <td>yes</td>
  </tr>
  <tr>
    <td>supports operator configuration</td>
    <td>no</td>
  </tr>
</table>

#### Accessors

<table class="nice">
  <tr>
    <td>public_key_pem</td>
    <td>Returns a string</td>
  </tr>
  <tr>
    <td>private_key_pem</td>
    <td>Returns a string</td>
  </tr>
  <tr>
    <td>public_key_fingerprint</td>
    <td>Returns a string</td>
  </tr>
  <tr>
    <td>public_key_openssh</td>
    <td>Returns a string</td>
  </tr>
  <tr>
    <td>value_present?</td>
    <td>Returns true if value of the pkey already exists.</td>
  </tr>
</table>

#### Example

```yaml
property_blueprints:
  - name: example_rsa_pkey_credentials
    type: rsa_pkey_credentials
    configurable: false

job_types:
  - name: example-job
    resource_label: An Example Job
    <<: *job_type_boilerplate
    templates:
      - name: user_add
        release: os-conf
        manifest: |
          users:
            - name: nick
              public_key: ((.properties.example_rsa_pkey_credentials.public_key_pem))

```

<br><hr>
