This holds credentials with salted and hashed passwords. It is a non-configurable property.

<table class="nice">
  <tr>
    <td>credential</td>
    <td>yes</td>
  </tr>
  <tr>
    <td>supports auto-generation</td>
    <td>yes</td>
  </tr>
  <tr>
    <td>supports operator configuration</td>
    <td>no</td>
  </tr>
</table>

#### Property Blueprint Attributes

<table class="nice">
  <tr>
    <td> default </td>
    <td>
      Optional. Specifies a default value. <br>When provided, must be set to a value which is valid for this type.
      Cannot be used when the property also has <code>optional: true</code>.
      <br><br>
      If specified, the default value must be an object which is allowed to have the key <code>identity</code>. For example, a default value can be:
      <pre class="terminal">default:
        - identity: ryan
      </pre>
    </td>
  </tr>
</table>

#### Accessors

<table class="nice">
  <tr>
    <td>identity</td>
    <td>Returns a string</td>
  </tr>
  <tr>
    <td>password</td>
    <td>Returns a string</td>
  </tr>
  <tr>
    <td>salt</td>
    <td>Returns a string</td>
  </tr>
  <tr>
    <td>sha512_hashed_password</td>
    <td>Returns a string</td>
  </tr>
  <tr>
    <td>value_present?</td>
    <td>Returns <code>true</code> if value of the credential has been generated already</td>
  </tr>
</table>

#### Example

```
property_blueprints:
  # Example without defaults
  - name: example_salted_credentials
    type: salted_credentials
  # Example with default identity
  - name: example_salted_credentials_with_default
    type: salted_credentials
    default:
      identity: vcap

job_types:
  - name: example-job
    resource_label: An Example Job
    <<: *job_type_boilerplate
    templates:
      - name: user_add
        release: os-conf
        manifest: |
          users:
            - name: vcap
              crypted_password: ((.properties.example_salted_credentials.sha512_hashed_password))

```

<br><hr>
