This holds a single string value selected from allowed AZs. Appears as a radio button group in the UI.

<table class="nice">
  <tr>
    <td>credential</td>
    <td>no</td>
  </tr>
  <tr>
    <td>supports auto-generation</td>
    <td>no</td>
  </tr>
  <tr>
    <td>supports operator configuration</td>
    <td>yes</td>
  </tr>
</table>

#### Accessors

<table class="nice">
  <tr>
    <td>value</td>
    <td>Returns a string or null.</td>
  </tr>
  <tr>
    <td>value_present?</td>
    <td>Returns true if value is a non-empty string</td>
  </tr>
</table>

#### Example

```yaml
service_broker: true

property_blueprints:
  - name: example_service_network_az_single_select
    type: service_network_az_single_select
    configurable: true
    optional: false

form_types:
  - name: example_service_network_az_single_select
    label: 'Example form'
    description: 'An example form'
    property_inputs:
      - reference: .properties.example_service_network_az_single_select
        label: Example Service Network AZ Single-Select
        description: 'Configure a property of type service_network_az_single_select'

job_types:
- name: example-job
  resource_label: An Example Job
  <<: *job_type_boilerplate
  templates:
    - name: login_banner
      release: os-conf
      manifest: |
        login_banner:
          text: "Hello, user. Here is a single AZ name: (( .properties.example_service_network_az_single_select.value ))"
```

<img src="img/example-service-network-az-single-select-tile.png" alt="Example Product with Service Network AZ Single-Select">

<br><hr>
