This holds a string uuid value.

<table class="nice">
  <tr>
    <td>credential</td>
    <td>no</td>
  </tr>
  <tr>
    <td>supports auto-generation</td>
    <td>yes</td>
  </tr>
  <tr>
    <td>supports operator configuration</td>
    <td>no</td>
  </tr>
</table>

#### Accessors

<table class="nice">
  <tr>
    <td>value</td>
    <td>Returns a string or null.</td>
  </tr>
  <tr>
    <td>value_present?</td>
    <td>Returns true if value is a non-empty string.</td>
  </tr>
</table>

#### Example

```yaml
property_blueprints:
  - name: example_uuid
    type: uuid
    configurable: false

job_types:
- name: example-job
  resource_label: An Example Job
  <<: *job_type_boilerplate
  templates:
    - name: login_banner
      release: os-conf
      manifest: |
        login_banner:
          text: Hello. Your UUID is (( .properties.example_uuid.value ))
```

<hr>
