---
title: Resources for deploying your buildpacks
owner: Services
---

Buildpacks compile and package apps to run on Tanzu Application Service. You can use and deploy buildpacks with Tanzu Application Service apps, and for creating your own custom buildpack.

## <a id="language"></a> Official buildpacks

- [Java buildpack](https://github.com/cloudfoundry/java-buildpack)

- [Go buildpack](https://github.com/cloudfoundry/go-buildpack)

- [Ruby buildpack](https://github.com/cloudfoundry/ruby-buildpack)

- [Node.js buildpack](https://github.com/cloudfoundry/nodejs-buildpack)

- [Python buildpack](https://github.com/cloudfoundry/python-buildpack)

- [PHP buildpack](https://github.com/cloudfoundry/php-buildpack)

- [Static file buildpack](https://github.com/cloudfoundry/staticfile-buildpack)

- [Binary buildpack](https://github.com/cloudfoundry/binary-buildpack)

## <a id="other"></a> Other buildpacks

Buildpacks can inject additional code into the application container.

For more information, see the following topics:

- The <%= vars.platform_name %> documentation topic [Creating custom buildpacks](https://docs.pivotal.io/application-service/buildpacks/custom.html).

- The github repository [Eureka Registrar Sidecar](https://github.com/cf-platform-eng/eureka-registrar-sidecar).

- The github repository [Spring Config Injection](https://github.com/cf-platform-eng/spring-config-injection).

