---
title: Resources for deploying your buildpacks
owner: Services
---


Buildpacks compile and package apps to run on <%= vars.app_runtime_full %>. This topic lists resources for using and deploying buildpacks with <%= vars.app_runtime_abbr %> apps, and for creating your own custom buildpack.

## <a id="language"></a> Official buildpacks

- [Java buildpack](https://github.com/cloudfoundry/java-buildpack) (by far the most complicated!)

- [Go buildpack](https://github.com/cloudfoundry/go-buildpack)

- [Ruby buildpack](https://github.com/cloudfoundry/ruby-buildpack)

- [Node.js buildpack](https://github.com/cloudfoundry/nodejs-buildpack)

- [Python buildpack](https://github.com/cloudfoundry/python-buildpack)

- [PHP buildpack](https://github.com/cloudfoundry/php-buildpack)

- [Static file buildpack](https://github.com/cloudfoundry/staticfile-buildpack) (for static web content)

- [Binary buildpack](https://github.com/cloudfoundry/binary-buildpack)

## <a id="other"></a> Other buildpacks

Buildpacks can also be used to inject additional code into the application container.
For more information, see the following:

- The <%= vars.platform_name %> documentation topic [Creating Custom Buildpacks](https://docs.pivotal.io/application-service/buildpacks/custom.html)

- The github repo [Eureka Registrar Sidecar](https://github.com/cf-platform-eng/eureka-registrar-sidecar)

- The github repo [Spring Config Injection](https://github.com/cf-platform-eng/spring-config-injection)

## <a id="custom"></a> Custom Buildpacks

- [Creating a Custom Buildpack](http://docs.pivotal.io/application-service/buildpacks/custom.html)
