---
title: Embedded agents
owner: Services
---

You can configure services that use software agents embedded in application containers.

Some service integrations can inject code into application containers.

Examples include:

- Application Performance Monitoring (APM) agents for monitoring services.
- Container-embedded API gateways.
- Client-side routers.

We refer to these injected components as "container-embedded agents."

## <a id="resources"></a> Embedded agents resources

- See [Resources for deploying your buildpacks](./buildpacks.html#other) for links to information about injecting components into the application container image, and the `.profile.d` directory provides a way to start agents before or alongside the customer application.
- See also [Using profile](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/<%= vars.current_major_tas_version %>/tas-for-vms/deploy-apps-deploy-app.html#profile) in *Pushing your app using Cloud Foundry CLI (cf push)* in the <%= vars.app_runtime_abbr %> documentation.
