---
title: Configuring your services to use embedded agents
owner: Services
---

Here's how to configuring services that use software agents embedded in application containers.

Some service integrations depend on the ability to inject code into application containers. Examples include:

- Application Performance Monitoring (APM) agents for monitoring services
- Container-embedded API gateways
- Client-side routers

We refer to these injected components as "container-embedded agents."

## <a id="resources"></a> Embedded Agents Resources

- [Resources for deploying your buildpacks](./buildpacks.html#other) provide a mechanism to inject components into the application container image, and the `.profile.d` directory provides a way to start agents before or alongside the customer application.
- [Using .profile.d](http://docs.pivotal.io/application-service/devguide/deploy-apps/deploy-app.html#profile)
