---
title: Development Environments
owner: Services
---

<strong><%= modified_date %></strong>

This topic explains how to set up tile development environments, from simple standalone tools to a full PCF development environment. As you progress through the [stages](./stages.html) of tile development, you will likely also progress through these environments.

## <a id="pcfdev"></a> PCF Dev and BOSH-Lite

Pivotal provides a lightweight (vagrant packaged) instance of PCF with some
basic services as a free product named PCF Dev. This is a great environment
to develop and test everything that runs in the Cloud Foundry Elastic Runtime.

Either of these environments allow you to develop the first three levels of service for Pivotal Cloud Foundry (PCF): a [User-Provided Service](./roadmap.html), a [Brokered Service](./brokered.html), and a [Managed Service](./managed.html).

If your integration includes managed services, you will also need an instance
of BOSH that can manage virtual machines and BOSH releases for you.
[BOSH-Lite](https://github.com/cloudfoundry/bosh-lite) works well for that
purpose.

Between these two components, you will have everything you need to develop
tiles, except for Pivotal's Ops Manager. But if you followed the recommended
[staged development approach](development.html) you will not need an actual full
PCF environment until the later phases of your development.

### <a id="setup-boshlite"></a>Setting up BOSH-Lite

- [Install BOSH-Lite](https://github.com/cloudfoundry/bosh-lite)

	<p class="note"><strong>Note</strong>: For this type of development environment, you only need BOSH-Lite itself to deploy managed service releases. You do **not** need to follow the instructions to Deploy Cloud Foundry in BOSH-Lite, as Cloud Foundry is provided by the PCF Dev installation above.</p>

### <a id="setup-pcfdev"></a>Setting up PCF Dev

- [Try PCF on your Local Workstation](http://pivotal.io/platform/pcf-tutorials/getting-started-with-pivotal-cloud-foundry-dev/introduction)


## <a id="pws"></a>PWS or Other Supported CF Infrastructure

Pivotal Web Services (PWS) is a highly-available, production-scale PCF environment hosted by Pivotal. You can use it to develop and run PCF apps, but a PWS account does not give access to Ops Manager and its Installation Dashboard, which is where PCF operators install and configure tiles.

- [Set Up Your PWS Account and Download the cf CLI](http://docs.run.pivotal.io/starting/index.html) explains how to get started with Pivotal Web Services (PWS).

## <a id="pcf"></a>PCF with Ops Manager

### <a id="shared"></a>Shared PCF Development Environments for Pivotal Partners

Pivotal operates and manages a number of shared PCF development environments, 
called Pivotal Integration Environments (PIEs), 
for Pivotal Technical Partnership Program (PTPP) program members to develop their tiles on.

To use your assigned PIE environment:

1. Log in to the Pivotal [Tile Dashboard](https://tile-dashboard.cfapps.io/) 
using the credentials that you use for [Pivotal Partners Slack](https://pivotalpartners.slack.com/).
1. Click the `pie-xx` environment assigned to you.
1. Log in to Ops Manager with the given Ops Manager URL and credentials.
1. Log in to Apps Manager or the cf CLI with the Cloud Foundry information provided on the same page.

If you are not in the PTPP or cannot access Pivotal Partners Slack, email isv@pivotal.io.

### <a id="diy"></a>Install Your Own PCF Environment

If you need an isolated or dedicated PCF development environment, or you need to work offline, you can install your own environment that includes Pivotal's Ops Manager:

- [Installing Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/installing/index.html)
<a name="operations"></a> 
- [Operating Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/opsguide/index.html)
<a name="upgrade"></a> 
- [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/customizing/upgrading-pcf.html)

The PTPP program does not troubleshoot partner installations of PCF development environments.

