---
title: Getting Started with Partner Tile Development
owner: Services
---
As a Pivotal Cloud Foundry (PCF) Partner, learn the step-by-step process of creating a tile and publishing on PivNet. 

# What is a Tile?
Tiles are packaged software that can be integrated into PCF. To provide a service on PCF you must package your software into a tile using Tile Generator. You can publish tiles on PivNet and install them through Ops Manager. For more information see [Tile Generator](), [PivNet](), [Ops Manager]().

##Tile Structure
Tiles are zipped directories with a `` .pivotal `` file extension. Tile directories require three subdirectories: metadata, migrations, and releases.

<table class="nice">
	<tr>
		<td>Metadata</td>
		<td> Within this directory, configure settings for your software in a .yml file. </td>
	</tr>
	<tr>
		<td>Migrations</td>
		<td> Within this directory, track changes across different releases in a .js file. 
			If you are starting a new tile, these files are not relevant. </td>	
	</tr>
	<tr>
		<td>Releases</td>
		<td>Within this directory, deploy your service in a zipped file. </td>
	</tr>
</table>       


#Why Build a Tile?
<!--- Link to Partner Days?-->
_Value propositions for tile development_

#Steps for Tile Development
## 1. Partner Days
_Description of why partner days are useful_

```
Sign up form
```

## 2. Figure Out Tile Type
<!--- Paul feedback on accuracy of this section. Iterative process.-->

## 3. Setup Tile Generator
<!--- Context to what tile generation is? CLI or UI?.-->
To get ready to set up tile generator, use the following script: 

```
lorem  
lorem 
lorem 
```

## 4. Run Tile Generator
<!--- Vague. CLI or UI? Path? Download where?-->
Download your releases. Type code and point to path:  

```
lorem 
lorem 
lorem 
``` 

## 5. Iterate on Tile

## 6. Test in Opsman

## 7. Publish on PivNet

# Resources