---
title: Getting Started with Partner Tile Development
owner: Services
---
As a Pivotal Cloud Foundry (PCF) Partner, learn the step-by-step process of creating a tile and publishing on PivNet. 

# What is a Tile?
<!--- "essentially" is bc .pivotal is just a zip files?, Ops Manger link to Ops docs -->
A tile is a piece of software that is packaged to be compatible with PCF. 
Tiles are eventually uploaded to [Ops Manager]().
To deploy any software on PCF, you need to create of tile. 
A tile is essentially a .zip file that contains 3 folders: metadata, releases, and migrations. 


<table class="nice">
	<tr>
		<td>Metadata</td>
		<td>In the metadata.yml file, you can configure settings for your software that receive user input, like a username and password.</td>
	</tr>
	<tr>
		<td>Releases</td>
		<td>A release is the software you are packaging. </td>
	</tr>
	<tr>
		<td>Migrations</td>
		<td>MIgrations help you map changes across different versions. If you are starting a new tile, you do need to know about this yet. </td>
	</tr>
</table>       


#Why Build a Tile?
<!--- Link to Partner Days?-->
_Value propositions for tile development_

#Steps for Tile Development
## 1. Partner Days
_Description of why partner days are useful_

```
Sign up form
```

## 2. Figure Out Tile Type
<!--- Paul feedback on accuracy of this section. Iterative process.-->

## 3. Setup Tile Generator
<!--- Context to what tile generation is? CLI or UI?.-->
To get ready to set up tile generator, use the following script: 

```
lorem  
lorem 
lorem 
```

## 4. Run Tile Generator
<!--- Vague. CLI or UI? Path? Download where?-->
Download your releases. Type code and point to path:  

```
lorem 
lorem 
lorem 
``` 

## 5. Iterate on Tile

## 6. Test in Opsman

## 7. Publish on PivNet

# Resources