---
title: How to integrate your software as an On-Demand service
owner: Services
---

You can integrate your software as an On-Demand service and service tile for <%= vars.platform_name %>.

## <a id="why-on-demand"></a>Why to integrate as an On-Demand service

Brokered service and managed service integrations assume that you have a single VM instance
deployed for your software, or a limited number of VMs.

These VMs are multi-tenant, and you can scale them manually to accommodate many concurrent applications. But
for real production deployments, you want dedicated VM instances of your service for each application.

On-Demand (dynamic) services activate this flexibility in a scalable way. When you deploy the service, do
not pre-allocate VM resources for service instances. Instead, define an allowable range of VM memory and
CPU sizes and create a dedicated network on the IaaS to host any required number of service instance VMs.

When you create an instance of an On-Demand service, you provision the resources within the
allowed range, and BOSH dynamically creates a new, dedicated VM for the instance.

## <a id="create"></a>Create an On-Demand service

The best way to create an on-demand service is to use the
[On-Demand Services SDK](https://docs.vmware.com/en/On-Demand-Services-SDK-for-VMware-Tanzu/0.45/on-demand-services-sdk/GUID-about.html).

The On-Demand services SDK provides a generic On-Demand service broker (ODB) that
the Tile Generator can consume like any other service broker.

The On-Demand service author does not write a service broker. Instead, they write a service adapter
component that takes requests from the ODB and interfaces with the service software to fulfill requests
from the ODB.

To create the tile, feed the service adapter and the BOSH release of the ODB to
[Tile Generator](./tile-generator.html):

* The [On-Demand services SDK](https://docs.vmware.com/en/On-Demand-Services-SDK-for-VMware-Tanzu/0.45/on-demand-services-sdk/GUID-index.html) documentation explains how to write a service
adapter for an On-Demand service that uses the On-Demand broker.

* After you have the individual components for your brokered service integration, you can work
through [Building your first tile](./index.html#tile-steps) to create your tile.

* At any level of integration, use [Concourse](./concourse.html) for continuous integration
during development.

* If you have not [already configured](./managed.html#managed-ha) your service for high availability as a
managed service, the final step is to consider how
you can make each of your dynamically-provisioned service instances more highly available.
