---
title: Other Integrations
owner: Services
---

<strong><%= modified_date %></strong>

## <a id="overview"></a> Overview

There are several integration points outside the service broker API:

* [BOSH Backup and Restore (BBR)](https://docs.pivotal.io/bbr/bbr-devguide.html) is a framework for backing up and restoring 
BOSH deployments and BOSH Directors. It orchestrates triggering the backup or restore process, 
and transfers the backup artifacts to and from the BOSH deployment or BOSH Director.
* [Buildpacks](./buildpacks.html) compile and package apps to run on PCF.
* A PCF buildpack lets you inject embedded agent code into application containers, such as for application performance monitoring (APM) or client-side routing.
[Embedded Agents](./embedded-agents.html) explains how to do this.
* Cloud Foundry's Loggregator system emits platform metrics, application metrics, and application logs
[Nozzles](./nozzle.html) explains how to produce and consume these metrics and logs.
* PCF does not use IPv6 internally. To enable external IPv6 communications, your tile must [configure them](http://docs.pivotal.io/tiledev/1-11/release-notes.html#ipv6).
* Tiles deployed on PCF v1.11+ can use [BOSH CredHub](./credhub.html) to securely store internal credentials, rather than including them in the product and job template files and having Ops Manager write them into the manifest.
* Tiles deployed on PCF v2.0+ can use [runtime CredHub](./ssi-creds-tiledev.html) to store secure service instance (SSI) credentials that Pivotal Application Service apps use to access services, rather than storing the credentials in the Cloud Controller database.
