---
title: Ops Manager v2.9 Partners Release Notes
owner: Technical Program Management
---


<% current_page.data.title = vars.platform_name + " v2.9 Partners Release Notes" %>

This topic describes the changes in <%= vars.platform_name %> v2.9 that might be relevant to partner service tiles.

For information about changes introduced in Ops Manager v2.9,
see [Ops Manager v2.9 Release Notes](https://docs.pivotal.io/pivotalcf/2-9/release-notes/opsmanager-rn.html).
For information about breaking changes introduced in <%= vars.app_runtime_full %>  v2.9,
see [Breaking Changes](https://docs.pivotal.io/pivotalcf/2-9/release-notes/breaking-changes.html).

## <a id="features"></a> Features

New features and changes in this release:

### <a id="domain-style-url"></a> Tile Developers Can Use Domain-Style URLs for S3-Compatible Blobstores

A `use_path_style` property allows tile developers to optionally enable virtual-hosted-style, or domain-style, URLs for S3-compatible blobstores in the BlobstoreVerifier. 

By default, the `use_path_style` property is `true`, which means that the blobstore uses path-style URLs. To use domain-style URLs, set `use_path_style` to `false`.

This property allows you to use domain-style URLs for S3-compatible blobstores before AWS ends support for path-style URLs in October 2020.

For more information about the end of support for path-style S3 bucket URLs, see [Amazon S3 Path Deprecation Plan – The Rest of the Story](https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/) in the AWS News Blog.

For more information about the difference between path-style and virtual-hosted-style URLs, see [Virtual Hosting of Buckets](https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html) in the AWS documentation.

### <a id="credhub-maestro-support"></a> Support for CredHub Maestro and Bulk Rotation of Certificates 

In Ops Manager v2.9 and later, operators can perform a bulk rotation of all CAs and certificates in a foundation, which may include leaf certificates used by individual tiles. Ops Manager invokes CredHub Maestro to perform the bulk rotation of certificates. 

To ensure compatibility with CredHub Maestro, your tile must use a specific format when referencing CAs. CredHub Maestro requires that triple parentheses references to any CAs that sign leaf certificates return a concatenated version of the CA. The concatenated version, which includes the older and newer CA, ensures that jobs using leaf certificates do not lose trusted state during CA rotation. This translates to the least amount of downtime for your tile's services during certificate rotation.

For more information and examples, see [Reference Existing CAs and Certificates in CredHub Variables](.
