---
title: Pivotal Platform v2.9 Partners Release Notes
owner: Technical Program Management
---


<% current_page.data.title = vars.product_name + " v2.9 Partners Release Notes" %>

This topic describes the changes that <%= vars.product_name %> v2.9 introduces
which might be relevant to partner service tiles.

For information about changes introduced in Ops Manager v2.9,
see [<%= vars.product_name %> Ops Manager v2.9 Release Notes](https://docs.pivotal.io/pivotalcf/2-8/pcf-release-notes/opsmanager-rn.html).
For information about breaking changes introduced in Pivotal Application Services v2.9,
see [<%= vars.product_name %> v2.9 Breaking Changes](https://docs.pivotal.io/pivotalcf/2-8/pcf-release-notes/breaking-changes.html).

## <a id="features"></a> Features

New features and changes in this release:

### <a id="domain-style-url"></a> Tile Developers Can Use Domain-Style URLs for S3-Compatible Blobstores

A `use_path_style` property allows tile developers to optionally enable virtual-hosted-style, or domain-style, URLs for S3-compatible blobstores in the BlobstoreVerifier. 

By default, the `use_path_style` property is `true`, which means that the blobstore uses path-style URLs. To use domain-style URLs, set `use_path_style` to `false`.

This property allows you to use domain-style URLs for S3-compatible blobstores before AWS ends support for path-style URLs in October 2020.

For more information about the end of support for path-style S3 bucket URLs, see [Amazon S3 Path Deprecation Plan – The Rest of the Story](https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/) in the AWS News Blog.

For more information about the difference between path-style and virtual-hosted-style URLs, see [Virtual Hosting of Buckets](https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html) in the AWS documentation.

