---
title: PCF v2.1 Partners Release Notice
owner: Technical Program Management
---

This topic describes the changes that Pivotal Cloud Foundry (PCF) v2.1 introduces which may be relevant to partner service tiles.

## <a id="ip-discontinued"></a> Ops Manager IP Management Removed

Ops Manager no longer allows operators to allocate or manage IPs. Instead, only the BOSH Director manages IP allocation. This change is to keep IP management in one central location without redundancy. To learn more about BOSH Director and how it handles both networks and IPs, see [Dynamic Networks](https://bosh.io/docs/networks.html) in the BOSH documentation.

As a result of this change, Ops Manager no longer supports the `first_ip`, `ips`, and `ips_by_availability_zone` accessors. For a list of Ops Manager accessors, see [Ops Manager Provided Snippets](product-template-reference.html#ops-man-snippets).

## <a id="pas-properties"></a>Pivotal Application Service Tile Property Changes

Properties in the Pivotal Application Service (PAS) v2.1 tile have changed. Tile developers must change any `(( ..cf.PROPERTY.NAME ))` calls accordingly if their tiles access PAS property values.

The following tables list the properties that Pivotal removed and added in PAS v2.1:

<table id='removed' border="1" class="nice" >
  <tr>
    <th>Removed Properties</th>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.azure.backup_all_masters</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.azure.container</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.azure.cron_schedule</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.azure.path</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.azure.storage_access_key</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.azure.storage_account</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.gcs.backup_all_masters</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.gcs.bucket_name</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.gcs.cron_schedule</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.gcs.project_id</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.gcs.service_account_json</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.s3.access_key_id</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.s3.backup_all_masters</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.s3.bucket_name</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.s3.bucket_path</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.s3.cron_schedule</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.s3.endpoint_url</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.s3.region</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.s3.secret_access_key</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.scp.backup_all_masters</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.scp.cron_schedule</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.scp.destination</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.scp.key</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.scp.port</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.scp.server</code></td>
  </tr>
  <tr>
    <td><code>.properties.mysql_backups.scp.user</code></td>
  </tr>
  <tr>
    <td><code>.router.max_idle_connections</code></td>
  </tr>
</table>


<table id='added' border="1" class="nice" >
  <tr>
    <th>Added Properties</th>
  </tr>
  <tr>
    <td><code>.mysql_proxy.shutdown_delay</code></td>
  </tr>
  <tr>
    <td><code>.properties.autoscale_api_instance_count</code></td>
  </tr>
  <tr>
    <td><code>.properties.autoscale_instance_count</code></td>
  </tr>
  <tr>
    <td><code>.properties.autoscale_metric_bucket_count</code></td>
  </tr>
  <tr>
    <td><code>.properties.autoscale_scaling_interval_in_seconds</code></td>
  </tr>
  <tr>
    <td><code>.properties.credhub_hsm_provider_client_certificate</code></td>
  </tr>
  <tr>
    <td><code>.properties.credhub_hsm_provider_partition</code></td>
  </tr>
  <tr>
    <td><code>.properties.credhub_hsm_provider_partition_password</code></td>
  </tr>
  <tr>
    <td><code>.properties.credhub_hsm_provider_servers</code></td>
  </tr>
  <tr>
    <td><code>.properties.enable_service_discovery_for_apps</code></td>
  </tr>
  <tr>
    <td><code>.properties.haproxy_hsts_support</code></td>
  </tr>
  <tr>
    <td><code>.properties.haproxy_hsts_support.enable.enable_preload</code></td>
  </tr>
  <tr>
    <td><code>.properties.haproxy_hsts_support.enable.include_subdomains</code></td>
  </tr>
  <tr>
    <td><code>.properties.haproxy_hsts_support.enable.max_age</code></td>
  </tr>
  <tr>
    <td><code>.properties.rep_proxy_enabled</code></td>
  </tr>
  <tr>
    <td><code>.properties.router_keepalive_connections</code></td>
  </tr>
  <tr>
    <td><code>.properties.syslog_metrics_to_syslog_enabled</code></td>
  </tr>
  <tr>
    <td><code>.properties.system_blobstore.external.encryption_kms_key_id</code></td>
  </tr>
  <tr>
    <td><code>.properties.system_blobstore.external.versioning</code></td>
  </tr>
  <tr>
    <td><code>.properties.system_blobstore.external_gcs_service_account.buildpacks_bucket</code></td>
  </tr>
  <tr>
    <td><code>.properties.system_blobstore.external_gcs_service_account.droplets_bucket</code></td>
  </tr>
  <tr>
    <td><code>.properties.system_blobstore.external_gcs_service_account.packages_bucket</code></td>
  </tr>
  <tr>
    <td><code>.properties.system_blobstore.external_gcs_service_account.project_id</code></td>
  </tr>
  <tr>
    <td><code>.properties.system_blobstore.external_gcs_service_account.resources_bucket</code></td>
  </tr>
  <tr>
    <td><code>.properties.system_blobstore.external_gcs_service_account.service_account_email</code></td>
  </tr>
  <tr>
    <td><code>.properties.system_blobstore.external_gcs_service_account.service_account_json_key</code></td>
  </tr>
  <tr>
    <td><code>.properties.uaa.saml.entity_id_override</code></td>
  </tr>
  <tr>
    <td><code>.properties.uaa_session_cookie_max_age</code></td>
  </tr>
  <tr>
    <td><code>.properties.uaa_session_idle_timeout</code></td>
  </tr>
</table>
