---
title: Pivotal Platform v2.8 Partners Release Notes
owner: Technical Program Management
---


<% current_page.data.title = vars.product_name + " v2.8 Partners Release Notes" %>

This topic describes the changes that <%= vars.product_name %> v2.8 introduces
which might be relevant to partner service tiles.

For information about changes introduced in Ops Manager v2.8,
see [<%= vars.product_name %> Ops Manager v2.8 Release Notes](https://docs.pivotal.io/pivotalcf/2-8/pcf-release-notes/opsmanager-rn.html).
For information about breaking changes introduced in Pivotal Application Services v2.8,
see [<%= vars.product_name %> v2.8 Breaking Changes](https://docs.pivotal.io/pivotalcf/2-8/pcf-release-notes/breaking-changes.html).

## <a id="features"></a> Features

New features and changes in this release:


## <a id="resolved"></a> Resolved Issues

This release fixes the following issues:


## <a id="breaking-changes"></a> Breaking Changes

This release has the following breaking changes:

