---
title: PCF vX.X Partners Release Notes
owner: Technical Program Management
---

<strong><%= modified_date %></strong>

This topic describes the changes that Pivotal Cloud Foundry (PCF) vX.X introduces
which might be relevant to partner service tiles.

For information about changes introduced in Ops Manager vX.X,
see [PCF Ops Manager vX.X Release Notes](https://docs.pivotal.io/pivotalcf/X-X/pcf-release-notes/opsmanager-rn.html).
For information about breaking changes introduced in Pivotal Application Services vX.X,
see [PCF vX.X Breaking Changes](https://docs.pivotal.io/pivotalcf/X-X/pcf-release-notes/breaking-changes.html).

## <a id="features"></a> Features

New features and changes in this release:

### <a id="multiple-stemcells"></a> Feature

Feature description and cross-references, if necessary.

For example:

See [Product Template Property Improvements](#product-temp) below for more information.

### <a id="product-temp"></a> Another Feature

Another feature description with a bulleted list:

* bullet 1
* bullet 2


## <a id="pas-properties"></a> Pivotal Application Service Tile Property Changes

Properties in the Pivotal Application Service (PAS) vX.X tile have changed.
Tile developers must change any `(( ..cf.PROPERTY.NAME ))` calls accordingly if their tiles access
PAS property values.

The following tables list the properties that Pivotal removed and added in PAS vX.X:

<table id='removed' border="1" class="nice" >
  <tr>
    <th>Removed Properties</th>
  </tr>
  <tr>
    <td></td>
  </tr>

  <tr>
    <td></td>
  </tr>

  <tr>
    <td></td>
  </tr>

</table>

<table id='added' border="1" class="nice" >
  <tr>
    <th>Added Properties</th>
  </tr>
  <tr>
    <td></td>
  </tr>

  <tr>
    <td></td>
  </tr>

  <tr>
    <td></td>
  </tr>

</table>

## <a id="resolved"></a> Resolved Issues

This release fixes the following issues:

+ The Ops Manager syslog template now supports service broker tiles.

## <a id="ki"></a> Known Issues

This release has the following issues:

### <a id="known-issue"></a> A Known Issue

## <a id="breaking-changes"></a> Breaking Changes

This release has the following breaking changes:

### <a id="breaking-change"></a> A Breaking Change
