---
title: PCF v2.0 Partners Release Notice
owner: Technical Program Management
---

This topic describes the changes that Pivotal Cloud Foundry (PCF) v2.0 introduces which may be relevant to partner service tiles.

## <a id='colocated-errands'></a>Colocated Errands

Tile authors can configure the errands defined in their product tile to run on existing VMs in a deployment.
Colocated errands run faster than traditional errands and use fewer resources, including disk and IP space.

See [Tile Errands](./tile-errands.html#colocated) for more information.

## <a id='runtime-configs'></a>Runtime Configs

Tile authors can include `runtime_configs` as a top-level key in tile metadata to define global deployment configurations.
Named runtime config settings apply to all VMs in a deployment.

Version 2.0.0 of Ops Manager supports defining any number of runtime configs in an existing tile.
Tile authors can also create a tile that includes a runtime config only and does not define any job types or errands.

See [Managing Runtime Configs](./runtime-config.html) for more information.

## <a id='type-defaults'></a>On-Demand Disk and VM Type Defaults

On-demand service tiles have a configuration pane for each service plan.
Operators use dropdown menus on the plan configuration pane to set the VM type and persistent disk type for each instance of that plan.

Ops Manager 2.0.0 allows tile authors to specify the default values for VM types and persistent disk types in their tile's plan configuration pane.

See [Configuring Disk and VM Type Defaults for On-Demand Service Tiles](./odb-resource-defaults.html) for more information.

## <a id='bosh-dns'></a>BOSH DNS

Ops Manager 2.0.0 introduces BOSH DNS as a runtime config colocated on every VM in a deployment.
Since BOSH DNS is a beta feature in PCF 2.0, operators can opt out of the feature in this release.

Tile authors can use the new `$director.dns_release_present` accessor in tile metadata to expose the `disable_dns_release` setting on the BOSH Director.
If an operator has chosen to opt out of BOSH DNS, `disable_dns_release` is set to `true`.

See [Property Reference](./property-reference.html#dollar) for more information.

## <a id='accessors'></a>Network Name Accessors

Ops Manager 2.0.0 adds new accessors to return network information, including the network name for a product and the top-level domain (TLD) of the BOSH Director.
Ops Manager uses these values when constructing BOSH DNS aliases.
 
The following manifest snippet returns the names of the networks where the products are installed:

```
my_network_name: (( .network_name ))
other_network_name: (( ..other_product.network_name ))
```

See the `network_name` section in [Property Blueprint Reference](./property-reference.html#property-blueprints) for more information.

The following manifest snippet returns the BOSH Director TLD:

```
bosh_tld: (( $director.tld ))
```

The snippet above returns the string `bosh`.

See [Dollar Contexts](./property-reference.html#dollar) in the _Property Blueprint Reference_ topic for more information.

## <a id='bosh-metrics-creds'></a>BOSH Metrics Server UAA Credentials

PCF now forwards BOSH health metrics generated for all VMs in a deployment to the Loggregator Firehose by default. 

To support this feature, Ops Manager 2.0.0 colocates the new BOSH Metrics Server on the BOSH Director 
and includes a UAA client with the correct authorities and scopes. 

To access BOSH Metrics Server UAA credentials, tile authors can use the following two accessors:

* `(( $director.bosh_metrics_forwarder_client_name ))` returns the name of the client. 
* `(( $director.bosh_metrics_forwarder_client_secret ))` returns the value of the auto generated client secret.

## <a id='named-manifest'></a>Named Manifests for Collection

<p class="note breaking"><strong>Breaking Change</strong>: The <code>current_record</code> property is now reserved. You can no longer create a new property named <code>current_record</code>.</p>

Tile authors can specify a property for collection within the `named_manifest` section of tile metadata.
Use the `current_record` property within a collection record to refer to other properties in the same record.
For example:

```
  - name: collection-job
    type: collection
    configurable: true
    property_blueprints:
      - name: blueprint-name
        type: string
    named_manifests:
    - name: example-manifest
      manifest: |
        name:  (( current_record.blueprint-name.value ))
```

See the `named_manifest` section of the [Product Template Reference](./product-template-reference.html#named-manifest) topic for more information.

## <a id='dependencies'></a>Product Dependency Syntax

Tile authors can specify product version dependencies in tile metadata using `~>`.
Ops Manager interprets this operator based on the context in the metadata.
For example:

```
- name: cf
  version: "~> 1.8"
- name: example-product
  version: "~> 1.12.1"
```

If the version number contains only two segments, Ops Manager interprets `~>` as `>=`.
In the example above, this includes all versions of `cf` greater than `1.8`.

If the version number contains more than two segments, Ops Manager evaluates `~>` for the final segment.
In the example above, this includes versions `1.12.x` only of `example-product`.