---
title: PCF v2.6 Partners Release Notes
owner: Technical Program Management
---

<strong><%= modified_date %></strong>

This topic describes the changes that Pivotal Cloud Foundry (PCF) v2.6 introduces
which might be relevant to partner service tiles.

For information about changes introduced in Ops Manager v2.6,
see [PCF Ops Manager v2.6 Release Notes](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/opsmanager-rn.html).
For information about breaking changes introduced in Pivotal Application Services v2.6,
see [PCF v2.6 Breaking Changes](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/breaking-changes.html).

## <a id="features"></a> Features

New features and changes in this release:

### <a id="vsphere-properties"></a> Tile Authors Can Implement a Form Verifier to Confirm vSphere Properties

A PCF operator configuring a product tile on a vSphere deployment must configure vSphere properties. 
Incorrect configuration can cause deployment failures, and can be difficult to troubleshoot effectively. 

Tile authors can implement an optional form verifier that notifies operators when they have configured 
vSphere properties incorrectly.

For more information about this form verifier, see the [install\_time\_verifiers](./property-template-references.html#top-verifier).

### <a id="multiple-stemcells"></a> Support for Multiple Stemcells

Tile authors can develop tiles that support multiple stemcells. 
Use the `additional_stemcells_criteria` key to specify an array of additional stemcells for operators to use. 


Operators can then choose a stemcell with the `stemcell_selector` property key.

See [Product Template Property Improvements](#product-temp) below for more information.

### <a id="product-temp"></a> Product Template Property Improvements

The product template has the following improvements:

+ **`Verifiers::VsphereConfigurationVerifier`:** Tile authors can use an `install_time_verifier` to
validate vSphere configuration before changes are applied in Ops Manager.
See [install\_time\_verifiers](./property-template-references.html#top-verifier) for more information.

+ **`additional_stemcells_criteria`:** Tile authors can use the `stemcell_selector` property to select criteria for 
stemcells beyond those configured with `stemcell_criteria`. Tile developers can continue to specify `enable_patch_security_updates` for any additional stemcells.
See [additional_stemcells_criteria](property-template-references.html#top-additional-stemcells-criteria) and [stemcell_selector](property-template-references.html#stemcell-selector) for more information. 

## <a id="pas-properties"></a> Pivotal Application Service Tile Property Changes

Properties in the Pivotal Application Service (PAS) v2.6 tile have changed.
Tile developers must change any `(( ..cf.PROPERTY.NAME ))` calls accordingly if their tiles access
PAS property values.

The following tables list the properties that Pivotal removed and added in PAS v2.6:

<table id='removed' border="1" class="nice" >
  <tr>
    <th>Removed Properties</th>
  </tr>
  <tr>
    <td><code>stack_migration_acknowledgement</code></td>
  </tr>
</table>

<table id='added' border="1" class="nice" >
  <tr>
    <th>Added Properties</th>
  </tr>
  <tr>
    <td><code>autoscale_enable_notifications</code></td>
  </tr>

  <tr>
    <td><code>cloud_controller_completed_tasks_cutoff_age_in_days</code></td>
  </tr>

  <tr>
    <td><code>enable_garden_containerd_mode</code></td>
  </tr>

  <tr>
    <td><code>log_cache_max_per_source</code></td>
  </tr>

  <tr>
    <td><code>push_apps_manager_foundations</code></td>
  </tr>

  <tr>
    <td><code>reverse_log_proxy_gateway_server_tls_cert</code></td>
  </tr>

  <tr>
    <td><code>syslog_agent_enabled</code></td>
  </tr>

  <tr>
    <td><code>trafficcontroller_tls_cert</code></td>
  </tr>

  <tr>
    <td><code>system_metrics_enabled</code></td>
  </tr>

  <tr>
    <td><code>system_metrics_tls_scraper_cert</code></td>
  </tr>
</table>


## <a id="ki"></a> Known Issues

This release has the following issues:

### <a id="known-issue"></a> Simple Credentials Not Yet Supported for vSphere Verifiers 

The `simple_credentials` property is not yet supported for `Verifiers::VsphereConfigurationVerifier`.

For more information about vSphere verifiers, see [Tile Developers Can Implement a Form Verifier to Confirm vSphere Properties](#vsphere-properties) in this release note.

### <a id="service-broker"></a> Ops Manager Syslog Template Is Not Supported for Service Broker Tiles

Ops Manager syslog template does not propagate to service broker tiles.
Tile developers with service broker tiles should continue to use their own syslog configurations.
Service broker tiles with the syslog template configured do not display the syslog template.

For more information about the Syslog template, see
[Syslog Form Template Available for Tile Authors](https://docs.pivotal.io/tiledev/2-4/release-notes.html#syslog).

## <a id="breaking-changes"></a> Breaking Changes

There are currently no known breaking changes in this release.


