---
title: PCF Partners Release Notes
owner: Technical Program Management
---

<strong><%= modified_date %></strong>

This topic describes the changes that Pivotal Cloud Foundry (PCF) vX.X introduces
which might be relevant to partner service tiles.

For information about changes introduced in Ops Manager vX.X,
see [PCF Ops Manager vX.X Release Notes](https://docs.pivotal.io/pivotalcf/X-X/pcf-release-notes/opsmanager-rn.html).
For information about breaking changes introduced in Pivotal Application Services vX.X,
see [PCF vX.X Breaking Changes](https://docs.pivotal.io/pivotalcf/X-X/pcf-release-notes/breaking-changes.html).

## <a id="xx"></a> vX.X

**Release Date: Month X, 2019**

### Features

New features and changes in this release:

* **Verifiers::VsphereConfigurationVerifier:** Tile authors can use an install_time verifier to
validate vSphere configuration before changes are applied in Ops Manager.
See [install\_time\_verifiers](./property-template-references.html#top-verifier) for more information.

### Security Fixes

### Resolved Issues

* The Ops Manager syslog template now supports service broker tiles.

### Known Issues

### Compatibility

Properties in the Pivotal Application Service (PAS) vX.X tile have changed.
Tile developers must change any `(( ..cf.PROPERTY.NAME ))` calls accordingly if their tiles access
PAS property values.

The following tables list the properties that Pivotal removed and added in PAS vX.X:

<table id='removed' border="1" class="nice" >
  <tr>
    <th>Removed Properties</th>
  </tr>
  <tr>
    <td></td>
  </tr>

  <tr>
    <td></td>
  </tr>

  <tr>
    <td></td>
  </tr>

</table>

<table id='added' border="1" class="nice" >
  <tr>
    <th>Added Properties</th>
  </tr>
  <tr>
    <td></td>
  </tr>

  <tr>
    <td></td>
  </tr>

  <tr>
    <td></td>
  </tr>

</table>
