---
title: PCF v2.6 Partners Release Notes
owner: Technical Program Management
---

<strong><%= modified_date %></strong>

This topic describes the changes that Pivotal Cloud Foundry (PCF) v2.X6 introduces
which might be relevant to partner service tiles.

For information about changes introduced in Ops Manager v2.6,
see [PCF Ops Manager v2.6 Release Notes](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/opsmanager-rn.html).
For information about breaking changes introduced in Pivotal Application Services v2.6,
see [PCF v2.6 Breaking Changes](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/breaking-changes.html).

## <a id="features"></a> Features

New features and changes in this release:

### <a id="multiple-stemcells"></a> Support for Multiple Stemcells

Tile authors can have stemcells configured from different sets of criteria. 
See [Product Template Property Improvements](#product-temp) below for more information.

### <a id="product-temp"></a> Product Template Property Improvements

The product template has the following improvements:

+ **`Verifiers::VsphereConfigurationVerifier`:** Tile authors can use an `install_time_verifier` to
validate vSphere configuration before changes are applied in Ops Manager.
See [install\_time\_verifiers](./property-template-references.html#top-verifier) for more information.

+ **stemcell_criteria:** `enable_patch_security_updates` enables tile authors to automatically use the latest patched version of a stemcell. This increases security by automatically using the latest patched version of a stemcell. However, operators might experience longer upgrade times.
See [stemcell_criteria](./property-template-references.html#top-stemcell-criteria) for more information.

+ **additional_stemcells_criteria:** tile authors can use the `stemcell_selector` property to select criteria for stemcells beyond those configured with `stemcell_criteria`.
See [additional_stemcells_criteria](property-template-references.html#top-additional-stemcells-criteria) for more information.

## <a id="pas-properties"></a> Pivotal Application Service Tile Property Changes

Properties in the Pivotal Application Service (PAS) v2.6 tile have changed.
Tile developers must change any `(( ..cf.PROPERTY.NAME ))` calls accordingly if their tiles access
PAS property values.

The following tables list the properties that Pivotal removed and added in PAS v2.6:

<table id='removed' border="1" class="nice" >
  <tr>
    <th>Removed Properties</th>
  </tr>
  <tr>
    <td><code>stack_migration_acknowledgement<code></td>
  </tr>
</table>

<table id='added' border="1" class="nice" >
  <tr>
    <th>Added Properties</th>
  </tr>
  <tr>
    <td>autoscale_enable_notifications</td>
  </tr>

  <tr>
    <td>cloud_controller_completed_tasks_cutoff_age_in_days</td>
  </tr>

  <tr>
    <td>enable_garden_containerd_mode</td>
  </tr>

  <tr>
    <td>log_cache_max_per_source</td>
  </tr>

  <tr>
    <td>push_apps_manager_foundations</td>
  </tr>

  <tr>
    <td>reverse_log_proxy_gateway_server_tls_cert</td>
  </tr>

  <tr>
    <td>syslog_agent_enabled</td>
  </tr>

  <tr>
    <td>trafficcontroller_tls_cert</td>
  </tr>

  <tr>
    <td>system_metrics_enabled</td>
  </tr>

  <tr>
    <td>system_metrics_tls_scraper_cert</td>
  </tr>
</table>

## <a id="resolved"></a> Resolved Issues

This release fixes the following issues:

+ The Ops Manager syslog template now supports service broker tiles.

## <a id="ki"></a> Known Issues

This release has the following issues:

### <a id="known-issue"></a> A Known Issue

## <a id="breaking-changes"></a> Breaking Changes

This release has the following breaking changes:

### <a id="breaking-change"></a> A Breaking Change
