---
title: PCF v2.4 Partners Release Notice
owner: Technical Program Management
---

<strong><%= modified_date %></strong>

This topic describes the changes that Pivotal Cloud Foundry (PCF) v2.4 introduces
which might be relevant to partner service tiles.

## <a id="topic1"></a> New Feature 1

Some text and a link to more info.

## <a id="pas-properties"></a> Pivotal Application Service Tile Property Changes

Properties in the Pivotal Application Service (PAS) v2.4 tile have changed.
Tile developers must change any `(( ..cf.PROPERTY.NAME ))` calls accordingly if their tiles access PAS property values.

The following tables list the properties that Pivotal removed and added in PAS v2.4:

<table id='removed' border="1" class="nice" >
  <tr>
    <th>Removed Properties</th>
  </tr>
  <tr>
    <td><code>.properties.system_db_link</code></td>
  </tr>
</table>

<table id='added' border="1" class="nice" >
  <tr>
    <th>Added Properties</th>
  </tr>
  <tr>
    <td><code>.properties.cloud_controller_temporary_disable_deployments</code></td>
  </tr>
  <tr>
    <td><code>.properties.enable_cf_metric_name</code></td>
  </tr>
  <tr>
    <td><code>.properties.enable_smb_volume_driver</code></td>
  </tr>
  <tr>
    <td><code>.properties.enable_tls_to_internal_pxc</code></td>
  </tr>
  <tr>
    <td><code>.properties.experimental_dynamic_egress_enforcement</code></td>
  </tr>
  <tr>
    <td><code>.properties.metric_registrar_blacklisted_tags</code></td>
  </tr>
  <tr>
    <td><code>.properties.metric_registrar_enabled</code></td>
  </tr>
  <tr>
    <td><code>.properties.metric_registrar_orchestrator_tls</code></td>
  </tr>
  <tr>
    <td><code>.properties.metric_registrar_rlp_tls</code></td>
  </tr>
  <tr>
    <td><code>.properties.metric_registrar_scrape_interval_in_seconds</code></td>
  </tr>
  <tr>
    <td><code>.properties.metric_registrar_worker_tls</code></td>
  </tr>
  <tr>
    <td><code>.properties.reverse_log_proxy_gateway_client_tls_cc_cert</code></td>
  </tr>
  <tr>
    <td><code>.properties.reverse_log_proxy_gateway_client_tls_rlp_cert</code></td>
  </tr>
  <tr>
    <td><code>.properties.ssh_proxy_backends_tls</code></td>
  </tr>
</table>

