---
title: PCF v2.4 Partners Release Notice
owner: Technical Program Management
---

<strong><%= modified_date %></strong>

This topic describes the changes that Pivotal Cloud Foundry (PCF) v2.5 introduces
which might be relevant to partner service tiles.

## <a id='1'></a> Item 1

Add text here.


## <a id="syslog-form"></a> Syslog Form Template Available for Tile Authors
Tile authors can insert a templatized Syslog form into their tiles by using the
`opsmanager_syslog` key in their tile’s `metadata.yml`.
The pane that the form creates is identical to the Syslog pane in Ops Manager
and the BOSH Director tile.
This form includes properties for `forward_debug_logs` and `custom_rsyslog_configuration`.

The form template is an opportunity to make tile users’ experience more consistent and secure.
For more information about modifying `metadata.yml`,
see [Property Template References](https://docs.pivotal.io/tiledev/2-4/property-template-references.html#syslog-flag).

Tile authors with an existing form can migrate their syslog parameters to the templatized Syslog form.
For more information about migrating an existing form to the Ops Manager provided syslog form, see
[Migrating Existing Syslog Configuration to Ops Manager](./migrating-syslog-configuration.html).


## <a id="pas-properties"></a> Pivotal Application Service Tile Property Changes

Properties in the Pivotal Application Service (PAS) v2.5 tile have changed.
Tile developers must change any `(( ..cf.PROPERTY.NAME ))` calls accordingly if their tiles access PAS property values.

The following tables list the properties that Pivotal removed and added in PAS v2.4:

<table id='removed' border="1" class="nice" >
  <tr>
    <th>Removed Properties</th>
  </tr>
  <tr>
    <td><code>.properties.xxx</code></td>
  </tr>
</table>

<table id='added' border="1" class="nice" >
  <tr>
    <th>Added Properties</th>
  </tr>
  <tr>
    <td><code>.properties.xxx</code></td>
  </tr>
</table>


## <a id="breaking-changes"></a> Breaking Changes

### <a id="breaking-change-1"></a> Breaking Change 1

Information about breaking change and cross-reference to where to find more information.
