---
title: Ops Manager v2.11 Partners Release Notes
owner: Technical Program Management
---


<% current_page.data.title = vars.platform_name + " v2.10 Partners Release Notes" %>

This topic describes the changes in <%= vars.platform_name %> v2.11 that might be relevant to partner service tiles.

For information about changes introduced in Ops Manager v2.11,
see [Ops Manager v2.11 Release Notes](https://docs.pivotal.io/ops-manager/2-11/release-notes.html).
For information about breaking changes introduced in <%= vars.app_runtime_full %> v2.11,
see [Breaking Changes](https://docs.pivotal.io//ops-manager/2-11/release-notes.html).

[//]: # (The above links are duds and need to be fixed before 2.11 releases.)

## <a id="features"></a> Features

There are no changes in Ops Manager v2.10 that directly affect tile development for partners.

## <a id="known-issues"></a> Known Issues

Known issues in this release that may affect tile development for partners:

### <a id="non-configurable-certs"></a> Non-configurable certs invalid within a selector

A <code>rsa_cert_credentials</code> property with <code>configurable: false</code> is invalid within a <code>selector</code> property.

The tile will not raise any validation errors, however during the pre-deploy check the following error will surface:
<pre>
{
  "pre_deploy_check": {
    ...
    "properties": [
      {
        "name": ".properties.some-cert-property",
        "type": "rsa_cert_credentials",
        "errors": [
          "can't be blank",
          "can't be blank"
        ]
      }
    ],
    ...
  }
}
</pre>