---
title: How to document your service tiles
owner: Services
---

You can document your service tile for <%= vars.platform_name %>.

When a VMware Tanzu service tile starts on [VMware Tanzu Network](https://network.pivotal.io), <%= vars.company_name %> publishes
corresponding documentation under [Partner Services for VMware Tanzu](https://docs.pivotal.io).

This documentation is formatted in [Markdown](https://daringfireball.net/projects/markdown/), stored in a GitHub repository that <%= vars.company_name %> creates, and is published with the [bookbinder](https://github.com/pivotal-cf/bookbinder) platform.


## <a id="template"></a> Partner documentation template

The [Partner Documentation Template](https://github.com/pivotal-cf/docs-partners-template) is a GitHub repository
that you can clone to create documentation for your service tile that follows the standard format for partner documentation.
The template works with the documentation publishing platform, [bookbinder](https://github.com/pivotal-cf/bookbinder).

Documentation content resides in the `/docs-content` directory of the repository, as skeleton pages with embedded prompts for content that you should fill in, approximately following the [content descriptions](#content) below.

See the repository [README.md](https://github.com/pivotal-cf/docs-partners-template/blob/master/README.md) for how to use the template with bookbinder to develop your documentation.


## <a id="content"></a> Documentation content

While the specifics of your documentation might vary depending on the product, VMware provides a
basic blueprint. At minimum, documentation includes #1 (Overview) and #2 (Installing/Configuring).

For a good example of a partner service document, see the [JFrog Artifactory documentation](https://docs.pivotal.io/jfrog/index.html).

If you have questions or want to collaborate on drafting the documentation, go to the #tanzu-docs Slack channel.

### <a id="index"></a> Index page

This page provides a general overview of Partner Product. What does it do? What are its features?

Key Features

- Feature one
- Feature two
- Feature three

#### <a id='partner-service-broker'></a> Partner service broker

A Service Broker allows Cloud Foundry applications to bind to services and
consume the services from App Manager UI or command line. The Partner Service Broker uses one or more Partner accounts and is deployed as a
Java Application on Cloud Foundry. The Broker exposes the Partner service on the
Cloud Foundry Marketplace and allows you to directly create a service instance and bind it to your
applications either from the Apps Manager Console or from the command line.

The Tile for Partner installs the Partner Service Broker as an application and registers it as a
Service Broker on Cloud Foundry and exposes the service plans on the Marketplace.  This makes the
installation and subsequent use of Partner on your Cloud Foundry applications simple and easy.

If a trial license is available, customers that are interested in using Partner can obtain a
60-day free trial license.

#### <a id='product snapshot'></a> Product snapshot

Current Partner Tile for VMware Tanzu Details:

- Version:
- Release Date:
- Software components versions: Partner product version
- Compatible Ops Manager Version(s): 3.0.x and 2.10.x
- Compatible TAS for VMs Version(s): 4.0.x and 3.0.x

#### <a id='requirements'></a> Requirements (or prerequisites, packaging dependencies for offline buildpacks, ans others.)

Provide any general or specific requirements here.
A general requirement might be, "An AppDynamics account." A specific requirement might
be, "Packaging Dependencies for Offline Buildpacks."

#### <a id='limitations'></a> Limitations

Any known limitations need to be provided.

#### <a id='feedback'></a> Feedback

You can provide any issues, feature requests, or questions to
the <%= vars.platform_name %> Feedback list.

### <a id="install"></a> Installing and configuring the tile

You can install and configure the tile. Typically this includes procedures for
how to download the tile from VMware Tanzu Network, install it on Ops Manager,
configure the tile, and do any required third-party configuration. Images can be provided
    where necessary.

#### <a id='install-with-om'></a> Installing the tile using Ops Manager

- Download the product file from VMware Tanzu Network.
- Upload the product file to your Ops Manager installation.
- Click **Add** next to the uploaded product description in the Ops Manager Available Products view to add this product to your staging area.
- Click the newly added tile to review any configurable options.
- Click **Review Pending Changes**, and **Apply Changes** to install the service.

#### <a id='upgrading'></a> Upgrading to the uatest version

If there are any specific instructions for upgrading the tile, you can include those here.
If the procedures are complicated, create a new Upgrading topic.

#### <a id='configuring'></a> Configuring the partner tile

Add snapshots for each step when possible or add details as required.

- Log on to Ops Manager.
- Click **Import a Product** and import the Partner Tile.
- Select the Partner option.
- Click **Add** on the Partner Tile.
- Select the Partner Tile.
- Configure the Partner Tile.
- Apply your changes.

On completion of Partner Tile install, verify Marketplace in Apps Manager:

- View Partner Service Plans.
- Bind the Partner Service to an Application.
- Verify the service or dashboard for the partner for more data.

#### <a id='other-configs'></a> Other configurations and third-party configurations

Provide information for specific configurations such as configuring for HTTP proxy, or
doing any necessary configurations on a third-party service portal.

### <a id="using"></a> Using the tile

This topic provides instructions for how to use the tile.
Typically this includes procedures for how to perform the different functions offered by the service. Screenshots should be provided where necessary. You can also include information about Architecture here if necessary.

### <a id="troubleshooting"></a> Troubleshooting

This topic provides troubleshooting information for known errors,
following the Symptom/Explanation format used here:
[Troubleshooting](https://docs.vmware.com/en/Single-Sign-On-for-VMware-Tanzu-Application-Service/1.14/sso/GUID-okta-troubleshooting.html)

### <a id="release-notes"></a> Release notes

Include the release notes as the final topic, following the format in
the [docs-partners-template](https://github.com/pivotal-cf/docs-partners-template/blob/master/docs-content/release-notes.html.md.erb).
